/* stars */
.rating-color {
  color: #ff9a01 !important;
}

.small-ratings {
  margin-top: -5px;
}

.small-ratings i {
  color: #cecece;
  font-size: 12px;
}

.review-stat {
  font-weight: 300;
  font-size: 26px;
  line-height: 150%;
  color: #ff0000;
}

/* padding */

.pl-6 {
  padding-left: 6px;
}

.pr-4 {
  padding-right: 4px;
}

.all-review {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #262d4a;
}
